.user-list{
    margin-top:5px;
    width: 30%;
    padding: 10px;
}
button{
    background-color: rgb(23,144, 199);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    font-weight: bold;
}
button:hover{
    background-color: rgb(35, 177, 243);
    cursor: pointer;
    outline: none;
}
button:active{
    background-color: rgb(12, 97, 136);
    border: none;
    outline: none;
}